
.Login-bar{
    border:solid 1px black;
    border: none;
    max-width:500px;
    width: 400px;
    height: 600px;
    background-color: #fff;
}
.main-login{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #FFF0F5;
}
#image{
    width: 400px;
    margin-bottom: 20px;
}
.Signup-container{
    margin-top: 20px;
}
h3{
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    color:  #424553;
    font-weight: bold;
}
#or{
    font-size: 15px;
}
#input-num{
    margin-left:30px ;
    padding:10px;
    width:300px;
    margin-bottom: 25px;
}
.checkbox-container{
    display: flex;
    margin-left: 30px;
    gap:15px;
    max-width: 320px;
    margin-bottom: 30px;
}
.box{
    color:  #424553;
    font-weight: bold;
    font-size: 15px;
    
}
.button{
    margin-left: 30px;
    margin-bottom: 30px;
}
button{
    width:320px;
    padding:12px;
    background-color: #93959e;
    color: #fff;
    border: none;
    cursor: pointer;
}
.trouble{
    margin-left: 30px;
    font-size: 14px;
    color: #424553;
}
#achor{
    cursor: pointer;
    color: #ff3f6c;
    text-decoration: none;
}
#get-help{
    cursor: pointer;
    color: #ff3f6c;
}