.product_box{
  width: 320px;
  overflow: hidden;
  max-height: 450px;
  padding: 10px;
  background-color: #fff;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.product_box img {
  width: 100%;
  height: 235px;
} 

.product_box img:hover{
  opacity: 0.3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.product_name h2{
  margin: 10px;
  font-size: 30px;
  color: black;
}
.product_name h4{
  font-size: 20px;
  color: black;
  margin: 10px;
  margin-top: 0px;
}
span{
  text-decoration: line-through;
  margin-left: 10px;
  color:rgb(11, 139, 139);
  font-size: 10px;
}
p{
  margin: 10px;
  color: black;

}
