/* https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png*/

.header {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #e4e4e4;
    height: 76px;
    align-items: center;
    user-select: none;
}

.navbar1 {
    width: 50%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    gap: 0 45px;
}

.logo {
    width: 55px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: -290px -60px;
    background-image: url("https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png");
    cursor: pointer;
}

.nav {
    display: flex;
}

.nav_items {
    height: 12vh;
    padding: 0 20px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.nav_items span {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0px;
    font-family: "DMSans", sans-serif;
    color: #2C3147;
    margin-right: -10px;
}



.header_nav {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header_search {
    flex: 1;
    position: relative;
}

.header_search input {
    width: 75%;
    height: 40px;
    background: #f5f5f6;
    border: none;
    outline: none;
    padding-left: 42px;
    border-radius:5px;
}

.search_icon {
    position: absolute;
    top: 0;
    left: -5px;
    width: 50px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: -1508px 0;
    scale: 0.4;
    background-image: url("https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png");
}

.header_items {
    display: flex;
}

.header_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 45px 0 0px;
    cursor: pointer;
    margin-left: -35px;
}


.header_item span {
    font-size: 12px;
    font-weight: 600;
    font-family: "DMSans", sans-serif;
}


.heart_icon {
    width: 35px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: -630px -160px;
    scale: 0.6;
    background-image: url("https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png");
}

.cart_icon {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: -685px -116px;
    scale: 0.6;
    background-image: url("https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png");
}