@import "tailwindcss";
*{
    box-sizing: border-box;
}
body
{
    background-color: #fff;
    color:#111;
    /* box-sizing: border-box; */
    margin:0;   
}
h1
{
    text-align: center;
    color: #111;
    font-size: 2rem;
}
