

.cart-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  background: #fff;
  gap: 40px;
  padding-left: 17%;
  padding-right: 17%;
}

/* ===== LEFT SECTION ===== */
.cart-left {
  flex: 2;
}

/* Delivery Check */
.delivery-check {
  background-color: #fff3f4;
  border: 1px solid #ffd9de;
  padding: 15px 20px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-outline {
  border: 1px solid #ff3b5c;
  color: #ff3b5c;
  background: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  width: 150px;
  border-radius: 2px;
}

.btn-outline-1 {
  border: 1px solid #ff3b5c;
  color: #ff3b5c;
  background: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  width: 100px;
  border-radius: 2px;
}

.btn-outline:hover {
  background-color: #ffe6ea;
}

/* Offers */
.offers-box {
  border: 1px solid #e0e0e0;
  padding: 15px 20px;
  margin-top: 15px;
  border-radius: 6px;
}

.offers-box h4 {
  font-size: 15px;
  font-weight: 600;
}

.show-more {
  color: #ff3b5c;
  font-weight: 500;
  cursor: pointer;
}

/* Items Header */
.items-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  font-weight: 600;
}

.item-actions span {
  margin-left: 20px;
  color: #777;
  font-size: 13px;
  cursor: pointer;
}
.item-actions span:hover{
  color: #ff3b5c;
}
/* Item Card */
.item-card {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  margin-top: 15px;
}

.item-left {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.item-left img {
  width: 100px;
  height: 130px;
  border-radius: 4px;
  object-fit: cover;
}

.item-details {
  flex: 1;
  padding-left: 12px;
}

.item-details h5 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
}

.item-details p {
  font-size: 13px;
  margin-bottom: 6px;
  color: #555;
}

.item-remove-container:hover{
  color: #e9092f;
}

.seller {
  font-size: 12px;
  color: #999;
}

.item-meta {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 13px;
}

.left-stock {
  background-color: #fff0f0;
  color: #ff3b5c;
  padding: 1px 6px;
  font-size: 11px;
  border-radius: 4px;
}
.quantity-button-container{

  display: flex;
  align-items: center;
  gap: 10px;
}
.quantity-button{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}
.price-row {
  
  display: flex;
  white-space: nowrap;
  flex-wrap: wrap;
  gap: 2px;
  padding-right: 5px;
  margin-top: 12px;
  color: #282c3f;
  line-height: 18px;
}

.discounted {
  font-weight: 600;
}

.original {
  color: #999;
  text-decoration: line-through;
}

.off {
  color: #00a651;
  font-weight: 500;
}

.return-info {
  font-size: 12px;
  color: #666;
  margin-top: 6px;
}

/* ===== RIGHT SECTION ===== */
.cart-right {
  flex: 1;
  border-left: 1px solid #eee;
  padding-left: 30px;
  padding-right: 20px;
  width: 40%;
  border: 1px solid rgb(227, 221, 221);
  box-shadow: inset 0px 33px 25px 0 #f2f2f2, inset 0 66px 15px 0px #f7f5f5,
    inset 0 99px 5px 0px #fff;
  padding: 15px;
}

.coupon-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.coupon-box h4 {
  font-size: 15px;
  font-weight: 600;
}

.donate-box {
  margin-top: 20px;
  font-size: 13px;
}

.donate-options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.donate-options button {
  padding: 6px 10px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 20px;
  cursor: pointer;
  color: black;
}

.know-more {
  color: #ff3b5c;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  margin-top: 6px;
}

/* Price Details */
.price-details {
  margin-top: 25px;
}

.price-details h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.price-row {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
  font-size: 14px;
}

.price-row-11{

  display: flex;
    
    margin: 6px 0;
    font-size: 14px;
    justify-content: flex-start;
    gap: 10px;

}
    

.discount {
  color: #00a651;
}

.apply-coupon {
  color: #ff3b5c;
  font-weight: 500;
}

.free {
  color: #00a651;
}

.price-total {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 15px;
  margin-top: 15px;
}

.btn-primary {
  width: 100%;
  background-color: rgb(255, 63, 108);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 12px 0;
  font-weight: 600;
  margin-top: 15px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #e03552;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {

  .cart-container {
    flex-direction: column;
    padding: 20px;
  }

  .cart-right {
    border-left: none;
    padding-left: 0;
  }
}